@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  /* background-color: #93dda8; */
  background-color: #7fbde3;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.imgs-info {
  font-size: 0.9rem;
  opacity: 0.75;
}

.lighter {
  color: rgba(0, 0, 0, 0.4);
}

/*  B U T T O N S  &  L I N K S  */

button {
  outline: none;
  border: none;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 0.85rem 2rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: #ffffff;
  background: #00cc66;
  border-radius: 1rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  display: block;
  color: #000000;
}

.register-link {
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-align: center;
  font-weight: 600;
  color: #00cc66;
}

.link-copied {
  position: fixed;
  top: 9%;
  right: 5%;
  z-index: 2;
  padding: 0.5rem 1rem;
  font-weight: 600;
  background-color: #ffffff;
  border-radius: 1rem;
}

.share-icon-div {
  position: fixed;
  top: 3%;
  right: 5%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.delete-icon {
  position: absolute;
  top: 5%;
  right: -5%;
  height: 25%;
  width: 25%;
  cursor: pointer;
}

.edit-icon {
  position: absolute;
  top: 40%;
  right: -3%;
  height: 20%;
  width: 20%;
  cursor: pointer;
}

/*   I N P U T S   */

.input,
.pwd-input,
.email-input,
.name-input,
.textarea {
  width: 100%;
  height: 3rem;
  padding: 0 3rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  background: #ffffff;
  border: none;
  border-radius: 3rem;
  box-shadow: rgba(0, 0, 0, 0.11);
  outline: none;
}
@media (min-width: 1100px) {
  .input,
  .pwd-input,
  .email-input,
  .name-input,
  .textarea {
    padding: 0 5rem;
  }
}

input::placeholder,
textarea::placeholder {
  font-style: italic;
  font-weight: normal;
  opacity: 0.6;
}

.textarea {
  height: 300px;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

.name-input {
  margin-bottom: 2rem;
  background: url('./assets/svg/badgeIcon.svg') #ffffff 2.5% center no-repeat;
}

.email-input {
  margin-bottom: 2rem;
  background: url('./assets/svg/personIcon.svg') #ffffff 2.5% center no-repeat;
}

.pwd-input-div {
  position: relative;
}

.pwd-input {
  margin-bottom: 2rem;
  background: url('./assets/svg/lockIcon.svg') #ffffff 2.5% center no-repeat;
}

.show-pwd {
  position: absolute;
  top: -4%;
  right: 1%;
  padding: 1rem;
  cursor: pointer;
}

.hide-pwd {
  position: absolute;
  top: -4%;
  right: 1%;
  padding: 1rem;
  opacity: 0.3;
  cursor: pointer;
}

.forgot-pwd-link {
  text-align: right;
  font-weight: 600;
  color: #00cc66;
  cursor: pointer;
}

/*  F O R M S  */

.form-label {
  display: block;
  font-weight: 600;
  margin-top: 1rem;
}

.form-btns {
  display: flex;
}

.form-rooms {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.form-rooms label {
  padding-top: 5%;
  margin-left: -35px;
  margin-right: 15px;
}

.form-btn,
.form-input,
.form-input-address,
.form-input-name,
.form-input-small,
.form-input-file,
.form-btn-active {
  padding: 0.9rem 3rem;
  background-color: #ffffff;
  font-weight: 600;
  border-radius: 1rem;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-btn-active {
  background-color: #00cc66;
  color: #ffffff;
}

.form-input,
.form-input-address,
.form-input-name,
.form-input-small,
.form-input-file {
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}

.form-input-small,
.form-input-file {
  margin-right: 3rem;
  padding: 0.9rem 0.7rem;
  text-align: center;
}

.form-input-name {
  padding: 0.9rem 1rem;
  width: 90%;
  max-width: 326px;
}

.form-input-address {
  padding: 0.9rem 1rem;
  width: 90%;
  max-width: 326px;
}

.form-price-div {
  display: flex;
  align-items: center;
}

.form-price-txt {
  margin-left: -1.5rem;
  font-weight: 600;
}

.form-input-file {
  width: 100%;
}

.form-input-file::-webkit-file-upload-button {
  background-color: #00cc66;
  border: none;
  color: #ffffff;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  margin-right: 1rem;
}

.msg-form {
  margin-top: 0.5rem;
}

.msg-div {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.msg-label {
  margin-bottom: 0.5rem;
}

/* C O M P O N E N T S  */

.pg-header {
  font-size: 2rem;
  font-weight: 800;
}

.pg-container,
.offers,
.profile,
.listing-details,
.category,
.explore {
  margin: 1rem;
}
@media (min-width: 1024px) {
  .pg-container,
  .offers,
  .profile,
  .listing-details,
  .category,
  .explore {
    margin: 3rem;
  }
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  background-color: rgba(0, 0, 0, 0.5);
}

.loading-spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #00cc66 transparent #00cc66 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*  N A V B A R  */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  height: 85px;
  background-color: #ffffff;
}

.navbar-nav {
  width: 100%;
  margin-top: 0.75rem;
  overflow-y: hidden;
}

.nav-list-items {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-list-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-list-item-name,
.nav-list-item-name-active {
  margin-top: 0.25rem;
  font-size: 14px;
  font-weight: 600;
  color: #8f8f8f;
}

.nav-list-item-name-active {
  color: #2c2c2c;
}

/*  S I G N  I N / U P / O U T  */

.sign-in-bar,
.sign-up-bar {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: inherit;
}

.sign-in-btn,
.sign-up-btn,
.sign-in-txt,
.sign-up-txt {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .sign-in-bar,
  .sign-up-bar {
    justify-content: start;
  }
}

.sign-in-txt,
.sign-up-txt {
  font-size: 1.5rem;
  font-weight: 700;
}

.sign-in-btn,
.sign-up-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #00cc66;
  border-radius: 50%;
}
@media (min-width: 1024px) {
  .sign-in-btn,
  .sign-up-btn {
    margin-left: 3rem;
  }
}

.social-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.social-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  margin: 1.5rem;
  width: 3rem;
  height: 3rem;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.social-icon-img {
  width: 100%;
}

.log-out {
  padding: 0.25rem 0.75rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #00cc66;
  border-radius: 1rem;
  cursor: pointer;
}

/*  E X P L O R E  */

@media (min-width: 1217px) {
  .explore {
    margin-bottom: 10rem;
  }
}
@media (max-height: 536) {
  .explore {
    margin-bottom: 10rem;
  }
}

.explore-heading,
.explore-cat-heading {
  font-weight: 700;
}

.explore-cat-heading {
  margin-top: 3rem;
}

.explore-cats {
  display: flex;
  justify-content: space-between;
}

.explore-cats a {
  width: 48%;
}

.explore-cat-img {
  min-height: 115px;
  height: 15vw;
  width: 100%;
  border-radius: 1.5rem;
  object-fit: cover;
  margin: 0 auto;
}

.explore-cat-name {
  font-weight: 500;
  text-align: left;
}

/*  C A T E G O R Y  &  L I S T I N G S  */

.category {
  margin-bottom: 10rem;
}

.cat-listings {
  padding: 0;
}

.cat-listing-item {
  padding: 5px 5px -5px 5px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

.cat-listing {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.cat-listing-link {
  display: contents;
}

.cat-listing-img {
  width: 27%;
  height: 90px;
  margin-left: 10px;
  border: 0.15rem solid rgba(50, 50, 50, 0.5);
  border-radius: 1.5rem;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .cat-listing-img {
    width: 19%;
    height: 217px;
  }
}

.cat-listing-details {
  width: 65%;
}
@media (min-width: 1024px) {
  .cat-listing-details {
    width: 79%;
  }
}

.cat-listing-location {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 0.75rem;
  opacity: 0.8;
}

.cat-listing-name {
  margin: 0;
  width: 90%;
  font-size: 1.1rem;
  font-weight: 600;
  /* background-color: rgba(0, 0, 0, 0.1); */
}

.cat-listing-price {
  display: flex;
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: #00cc66;
  margin-bottom: 0;
  align-items: center;
}

.cat-listing-info-div {
  display: flex;
  justify-content: start;
  max-width: 275px;
}

.cat-listing-info-txt {
  font-weight: 500;
  font-size: 0.7rem;
  padding: 0 10px;
}

.load-more {
  width: 8rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0.25rem 0.5rem;
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  background-color: #000000;
  border-radius: 1rem;
  opacity: 0.7;
  cursor: pointer;
}

.create-listing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  margin-top: 2rem;
  padding: 0.25rem 1rem;
  font-weight: 600;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
}

.create-listing-btn {
  margin-top: 5rem;
}

.listing-details {
  margin-bottom: 10rem;
}

.listing-name {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.listing-location {
  margin-top: 0;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.listing-type {
  display: inline;
  margin-right: 1rem;
  padding: 0.25rem 0.5rem;
  color: #ffffff;
  background-color: rgba(70, 73, 76, 0.8);
  border-radius: 2rem;
  font-weight: 600;
  font-size: 0.8rem;
}

.listing-details-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.listing-details-item {
  font-weight: 500;
  margin: -5px;
  opacity: 0.8;
}

.list-dot {
  font-weight: 700;
  font-size: 1.5rem;
}

.listing-location-title {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.25rem;
}

.listing-txt {
  margin-top: 3rem;
  font-weight: 600;
}

.listings-list {
  padding: 0;
}

.listing-price {
  margin: 0.5rem 0;
  color: #33bb14;
  font-weight: 700;
  font-size: 1.5rem;
  /* text-shadow: 0.5px 0.5px 4px rgba(255, 255, 255, 0.3); */
}

.listing-discount-price {
  display: inline;
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #ffffff;
  background-color: rgba(70, 73, 76, 0.8);
  border-radius: 1rem;
}

.listings-displayed {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
  padding: 10px 20px;
  font-weight: 500;
  color: #555;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

/*  S W I P E R  */

.swiper-container {
  min-height: 225px;
  height: 23vw;
}

.swiper-pgn-bullet-active {
  background-color: #ffffff !important;
}

.swiper-slide-div {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.swiper-slide-img {
  width: 100%;
  object-fit: cover;
}

.swiper-slide-txt {
  position: absolute;
  top: -3%;
  right: 0;
  padding: 0.5rem 0.5rem 0.5rem 2.25rem;
  max-width: 60%;
  font-size: 1.1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
@media (min-width: 1024px) {
  .swiper-slide-txt {
    font-size: 1.75rem;
  }
}

.swiper-slide-price {
  position: absolute;
  top: 75%;
  right: 11px;
  max-width: 90%;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: #000000;
  background-color: #ffffff;
  border-radius: 1rem;
  opacity: 0.85;
}
@media (min-width: 1024px) {
  .swiper-slide-price {
    font-size: 1.25rem;
  }
}

.swiper-button-next,
.swiper-button-prev {
  text-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet {
  box-shadow: 1.5px 1.5px 4px 1.5px rgba(0, 0, 0, 0.3);
}

.colors {
  color: rgba(69, 180, 119, 0.9);
}

/*  L E A F L E T  */

.leaflet-container {
  width: 100%;
  height: 300px;
  margin-bottom: 3rem;
  border-radius: 5px;
  box-shadow: 1.5px 1.5px 4px 2px rgba(0, 0, 0, 0.1);
  overflow-x: hidden;
}
@media (min-width: 1024px) {
  .leaflet-container {
    height: 400px;
  }
}

.leaflet-control-attribution {
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  opacity: 0.7;
}

.leaflet-control-attribution > a {
  color: rgba(0, 0, 0, 0.5);
}

.leaflet-popup-content-wrapper {
  color: white;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: rgba(51, 51, 51, 0.9);
}

/*  U S E R  */

.profile {
  margin-bottom: 10rem;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-details-header {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}

.profile-card {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.profile-name,
.profile-email,
.profile-address,
.profile-address-active,
.profile-email-active,
.profile-name-active {
  all: unset;
  margin: 0.3rem 0;
  font-weight: 600;
  width: 100%;
}

.profile-name-active {
  background-color: rgba(44, 44, 44, 0.1);
}

.profile-email,
.profile-address,
.profile-address-active,
.profile-email-active {
  font-weight: 500;
}

.profile-email-active {
  background-color: rgba(44, 44, 44, 0.1);
}

.profile-address-active {
  background-color: rgba(44, 44, 44, 0.1);
}

.contact-listing-name {
  margin-top: -1rem;
  margin-bottom: 0;
  font-weight: 600;
}

.contact-listing-location {
  margin-top: 0.25rem;
  font-weight: 600;
}

.contact-landlord {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.personal-details-txt {
  font-weight: 600;
}

.change-personal-details {
  font-weight: 600;
  color: #00cc66;
  cursor: pointer;
}

.landlord-name {
  font-weight: 600;
  font-size: 1.2rem;
}

/*  O F F E R S  */

.offers {
  margin-bottom: 10rem;
}

.offer-badge {
  padding: 0.25rem 0.5rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 1rem;
  margin-left: 1rem;
  font-size: 0.8rem;
  opacity: 0.75;
}
