@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #93dda8;
  /* color: #dedede; */
  /* background-color: #333; */
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
  color: #000000;
}

button {
  outline: none;
  border: none;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.6;
  font-weight: normal;
  font-style: italic;
}

.input,
.pwd-input,
.email-input,
.name-input,
.textarea {
  box-shadow: rgba(0, 0, 0, 0.11);
  border: none;
  background: #ffffff;
  border-radius: 3rem;
  height: 3rem;
  width: 100%;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  padding: 0 3rem;
  font-size: 1rem;
}
@media (min-width: 1100px) {
  .input,
  .pwd-input,
  .email-input,
  .name-input,
  .textarea {
    padding: 0 5rem;
  }
}

.textarea {
  padding: 1rem 1.5rem;
  height: 300px;
  border-radius: 1rem;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 0.85rem 2rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: #ffffff;
  background: #00cc66;
  border-radius: 1rem;
  cursor: pointer;
}

.remove-icon {
  cursor: pointer;
  position: absolute;
  top: -3%;
  right: -2%;
}
.edit-icon {
  cursor: pointer;
  position: absolute;
  top: -3.4%;
  right: 20px;
}

.lighter {
  color: rgba(0, 0, 0, 0.4);
}

.pg-container,
.offers,
.profile,
.listing-details,
.category,
.explore {
  margin: 1rem;
}
@media (min-width: 1024px) {
  .pg-container,
  .offers,
  .profile,
  .listing-details,
  .category,
  .explore {
    margin: 3rem;
  }
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  background-color: rgba(0, 0, 0, 0.5);
}

.loading-spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #00cc66 transparent #00cc66 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pg-header {
  font-size: 2rem;
  font-weight: 800;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  height: 85px;
  background-color: #ffffff;
}

.navbar-nav {
  width: 100%;
  margin-top: 0.75rem;
  overflow-y: hidden;
}

.nav-list-items {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-list-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-list-item-name,
.nav-list-item-name-active {
  margin-top: 0.25rem;
  font-size: 14px;
  font-weight: 600;
  color: #8f8f8f;
}
.nav-list-item-name-active {
  color: #2c2c2c;
}

.name-input {
  margin-bottom: 2rem;
  background: url('./assets/svg/badgeIcon.svg') #ffffff 2.5% center
    no-repeat;
}

.email-input {
  margin-bottom: 2rem;
  background: url('./assets/svg/personIcon.svg') #ffffff 2.5% center
    no-repeat;
}

.pwd-input-div {
  position: relative;
}

.pwd-input {
  margin-bottom: 2rem;
  background: url('./assets/svg/lockIcon.svg') #ffffff 2.5% center
    no-repeat;
}

.show-pwd {
  cursor: pointer;
  position: absolute;
  top: -4%;
  right: 1%;
  padding: 1rem;
}

.hide-pwd {
  cursor: pointer;
  position: absolute;
  top: -4%;
  right: 1%;
  padding: 1rem;
  opacity: 0.3;
}

.forgot-pwd-link {
  cursor: pointer;
  color: #00cc66;
  font-weight: 600;
  text-align: right;
}

.sign-in-bar,
.sign-up-bar {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: inherit;
}

.sign-in-btn,
.sign-up-btn,
.sign-in-txt,
.sign-up-txt {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .sign-in-bar,
  .sign-up-bar {
    justify-content: start;
  }
}

.sign-in-txt,
.sign-up-txt {
  font-size: 1.5rem;
  font-weight: 700;
}

.sign-in-btn,
.sign-up-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #00cc66;
  border-radius: 50%;
}
@media (min-width: 1024px) {
  .sign-in-btn,
  .sign-up-btn {
    margin-left: 3rem;
  }
}

.social-login {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icon-div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  margin: 1.5rem;
  width: 3rem;
  height: 3rem;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.social-icon-img {
  width: 100%;
}

.register-link {
  margin-top: 4rem;
  color: #00cc66;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
}

@media (min-width: 1217px) {
  .explore {
    margin-bottom: 10rem;
  }
}
@media (max-height: 536) {
  .explore {
    margin-bottom: 10rem;
  }
}

.explore-heading,
.explore-cat-heading {
  font-weight: 700;
}

.explore-cat-heading {
  margin-top: 3rem;
}

.swiper-container {
  min-height: 225px;
  height: 23vw;
}

.swiper-pgn-bullet-active {
  background-color: #ffffff !important;
}

.swiper-slide-div {
  position: relative;
  width: 100%;
  height: 100%;
}

.swiper-slide-img {
  width: 100%;
  object-fit: cover;
}

.swiper-slide-txt {
  color: #ffffff;
  position: absolute;
  top: 70px;
  left: 0;
  font-weight: 600;
  max-width: 90%;
  font-size: 1.25rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
}
@media (min-width: 1024px) {
  .swiper-slide-txt {
    font-size: 1.75rem;
  }
}

.swiper-slide-price {
  color: #000000;
  position: absolute;
  top: 143px;
  left: 11px;
  font-weight: 600;
  max-width: 90%;
  background-color: #ffffff;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
}
@media (min-width: 1024px) {
  .swiper-slide-price {
    font-size: 1.25rem;
  }
}

.explore-cats {
  display: flex;
  justify-content: space-between;
}
.explore-cats a {
  width: 48%;
}

.explore-cat-img {
  min-height: 115px;
  height: 15vw;
  width: 100%;
  border-radius: 1.5rem;
  object-fit: cover;
  margin: 0 auto;
}

.explore-cat-name {
  font-weight: 500;
  text-align: left;
}

.category {
  margin-bottom: 10rem;
}

.cat-listings {
  padding: 0;
}

.cat-listing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  position: relative;
}

.cat-listing-link {
  display: contents;
}

.cat-listing-img {
  width: 30%;
  height: 100px;
  border-radius: 1.5rem;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .cat-listing-img {
    width: 19%;
    height: 217px;
  }
}

.cat-listing-details {
  width: 65%;
}
@media (min-width: 1024px) {
  .cat-listing-details {
    width: 79%;
  }
}

.cat-listing-location {
  font-weight: 600;
  font-size: 0.7rem;
  opacity: 0.8;
  margin-bottom: 0;
}

.cat-listing-name {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
}

.cat-listing-price {
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 1.1rem;
  color: #00cc66;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.cat-listing-info-div {
  display: flex;
  justify-content: space-between;
  max-width: 275px;
}

.cat-listing-info-txt {
  font-weight: 500;
  font-size: 0.7rem;
}

.load-more {
  cursor: pointer;
  width: 8rem;
  margin: 0 auto;
  text-align: center;
  padding: 0.25rem 0.5rem;
  background-color: #000000;
  color: #ffffff;
  font-weight: 600;
  border-radius: 1rem;
  opacity: 0.7;
  margin-top: 2rem;
}

.listing-details {
  margin-bottom: 10rem;
}

.share-icon-div {
  cursor: pointer;
  position: fixed;
  top: 3%;
  right: 5%;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listing-name {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.listing-location {
  margin-top: 0;
  font-weight: 600;
}

.discount-price {
  padding: 0.25rem 0.5rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  display: inline;
}

.listing-type {
  padding: 0.25rem 0.5rem;
  background-color: #00cc66;
  color: #ffffff;
  border-radius: 2rem;
  display: inline;
  font-weight: 600;
  font-size: 0.8rem;
  margin-right: 1rem;
}

.listing-details-list {
  padding: 0;
  list-style-type: none;
}
.listing-details-list li {
  margin: 0.3rem 0;
  font-weight: 500;
  opacity: 0.8;
}

.listing-location-title {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 1.25rem;
}

.leaflet-container {
  width: 100%;
  height: 200px;
  overflow-x: hidden;
  margin-bottom: 3rem;
}
@media (min-width: 1024px) {
  .leaflet-container {
    height: 400px;
  }
}

.link-copied {
  position: fixed;
  top: 9%;
  right: 5%;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

.contact-listing-name {
  margin-top: -1rem;
  margin-bottom: 0;
  font-weight: 600;
}

.contact-listing-location {
  margin-top: 0.25rem;
  font-weight: 600;
}

.contact-landlord {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.landlord-name {
  font-weight: 600;
  font-size: 1.2rem;
}

.msg-form {
  margin-top: 0.5rem;
}

.msg-div {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

.msg-label {
  margin-bottom: 0.5rem;
}

.profile {
  margin-bottom: 10rem;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log-out {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: #00cc66;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
}

.profile-details-header {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
}

.personal-details-txt {
  font-weight: 600;
}

.change-personal-details {
  cursor: pointer;
  font-weight: 600;
  color: #00cc66;
}

.profile-card {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
  max-width: 500px;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.profile-name,
.profile-email,
.profile-address,
.profile-address-active,
.profile-email-active,
.profile-name-active {
  all: unset;
  margin: 0.3rem 0;
  font-weight: 600;
  width: 100%;
}
.profile-name-active {
  background-color: rgba(44, 44, 44, 0.1);
}

.profile-email,
.profile-address,
.profile-address-active,
.profile-email-active {
  font-weight: 500;
}
.profile-email-active {
  background-color: rgba(44, 44, 44, 0.1);
}

.profile-address-active {
  background-color: rgba(44, 44, 44, 0.1);
}

.create-listing {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0.25rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
  font-weight: 600;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listing-txt {
  margin-top: 3rem;
  font-weight: 600;
}

.listings-list {
  padding: 0;
}

.form-label {
  font-weight: 600;
  margin-top: 1rem;
  display: block;
}

.form-btns {
  display: flex;
}

.form-btn,
.form-input,
.form-input-address,
.form-input-name,
.form-input-small,
.form-input-file,
.form-btn-active {
  padding: 0.9rem 3rem;
  background-color: #ffffff;
  font-weight: 600;
  border-radius: 1rem;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-btn-active {
  background-color: #00cc66;
  color: #ffffff;
}

.flex {
  display: flex;
}

.form-input,
.form-input-address,
.form-input-name,
.form-input-small,
.form-input-file {
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}
.form-input-small,
.form-input-file {
  margin-right: 3rem;
  padding: 0.9rem 0.7rem;
  text-align: center;
}

.form-input-name {
  padding: 0.9rem 1rem;
  width: 90%;
  max-width: 326px;
}

.form-input-address {
  padding: 0.9rem 1rem;
  width: 90%;
  max-width: 326px;
}

.form-price-div {
  display: flex;
  align-items: center;
}

.form-price-txt {
  margin-left: -1.5rem;
  font-weight: 600;
}

.imgs-info {
  font-size: 0.9rem;
  opacity: 0.75;
}

.form-input-file {
  width: 100%;
}
.form-input-file::-webkit-file-upload-button {
  background-color: #00cc66;
  border: none;
  color: #ffffff;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  margin-right: 1rem;
}

.create-listing-btn {
  margin-top: 5rem;
}

.offers {
  margin-bottom: 10rem;
}

.offer-badge {
  padding: 0.25rem 0.5rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 1rem;
  margin-left: 1rem;
  font-size: 0.8rem;
  opacity: 0.75;
}
